/* Layout */
html {display: flex; flex-direction: column;} /* IE fix */
body {
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport (compatible IE9+) */
}
.wrapper {
  display: block; /* IE fix */
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: row; /* affichage horizontal */
}
nav {
  width: 15em;
}
.content {
  display: block; /* IE fix */
  flex: 1; /* occupe la largeur restante */
}


/* Responsive */

@media (max-width: 640px) {
	body {
  min-height: 0; 
}
	.wrapper {
    flex-direction: column;
  }
	.content {
		flex-basis: auto;
	}
  nav {
    width: auto;
    order: 1;
  }
}
