<div class="demo-card-square mdl-card mdl-shadow--2dp">
<div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text">Anagrammes</h2>
</div>
<div class="mdl-card__supporting-text">
    Saisissez un mot et voyons quels anagrammes on peut former avec !
    <div class="mdl-textfield mdl-js-textfield">
        <input  class="mdl-textfield__input" type="text" id="sample1"
        (keyup.enter)="search(word.value)" #word>
        <label class="mdl-textfield__label" for="sample1">Votre mot ...</label>
    </div>
</div>
<div *ngIf="anags" class="mdl-card__actions mdl-card--border">
    <ul  class="demo-list-item mdl-list">
        <li *ngFor="#anag of anags" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                {{anag}}
            </span>
        </li>
    </ul>
</div>
<div *ngIf="errorMessage" class="mdl-card__actions mdl-card--border">
    <ul  class="demo-list-item mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                 {{errorMessage}}
            </span>
        </li>
    </ul>
</div>
<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>
    